@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Pacifico&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto&display=swap');
body{
    background-image: url(./wallpaperflare.com_wallpaper\ \(5\).jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
.logo{
    font-family: 'Clicker Script', cursive;
    color: white;
    position: absolute;
    margin-left: 12%;
    font-size: 50px;
}
 ul {
    display: flex;
    margin-left: 59%;
  }
  @media (max-width: 767px) {
     ul {
      display: none;
    }
     .toggle-menu:hover + ul {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background-color: rgb(0 0 0 / 50%);
    }
     ul li a {
      padding: 15px !important;
    }
  }
   ul li a {
    padding: 40px 10px;
    display: block;
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: 0.3s;
    position: relative;
    z-index: 2;
  }
   ul li a.active,
   ul li a:hover {
    color: #731e35;
    border-top: 2px solid white;
  }

h2{
    color: white;
    font-family: monospace;
    margin-left: 12%;
    transition: 0.3s;
    font-size: 26px;
}
h2:hover{
    letter-spacing: 4px;
    transition: 0.3s;
}
p{
    color: white;
    font-family: sans-serif;
    font-size: 14px;
    width: 526px;
    margin-left: 12%;
    margin-top: 46px;
    position: absolute;
}
#facebook{
    color: white;
    font-size: 20px;
    position: absolute;
    margin-left: 95%;
    margin-top: 5%;
    transition: 0.3s;
}
#facebook:hover{
    color: #731e35;
    transition: 0.3s;
}
#instagram{
    color: white;
    font-size: 20px;
    position: absolute;
    margin-left: 95%;
    margin-top: 9%;
    transition: 0.3s;
}
#instagram:hover{
    color: #731e35;
    transition: 0.3s;
}
#twitter{
    color: white;
    font-size: 20px;
    position: absolute;
    margin-left: 95%;
    margin-top: 13%;
    transition: 0.3s;
}
#twitter:hover{
    color: #731e35;
    transition: 0.3s;
}
#tiktok{
    color: white;
    font-size: 20px;
    position: absolute;
    margin-left: 95%;
    margin-top: 17%;
    transition: 0.3s;
}
#tiktok:hover{
    color: #731e35;
    transition: 0.3s;
}
h4{
    color: white;
    font-family: sans-serif;
    font-size: 10px;
    letter-spacing: 2px;
    margin-top: 33%;
    margin-left: 13%;
}
button{
    position: absolute;
    margin-top: -19%;
    margin-left: 12%;
    background: #621a2e;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 44px;
    letter-spacing: 6px;
    transition: 0.3s;
}
button:hover{
    transition: 0.3s;
    letter-spacing: 3px;
}